services:
  postgres:
    # if you want pgvector locally, switch to this:
    # image: ankane/pgvector:latest
    image: postgres:16
    environment:
      POSTGRES_DB: app
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  web:
    build: .
    container_name: nexify-web
    command: >
      sh -c "
        python manage.py migrate --noinput &&
        gunicorn config.wsgi:application --bind 0.0.0.0:8000
      "
    environment:
      DB_NAME: app
      DB_USER: app
      DB_PASSWORD: app
      DB_HOST: postgres     # matches the service name above
      DB_PORT: 5432
      DATABASE_URL: postgres://app:app@postgres:5432/app

      DJANGO_SETTINGS_MODULE: config.settings
      SECRET_KEY: local-dev-secret
      DEBUG: "1"
    depends_on:
      - postgres
    ports:
      - "8000:8000"

volumes:
  pgdata: